name: PR

on:
  pull_request:
    types: [ opened, synchronize, reopened ]

jobs:
  PR:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: "oracle"
          java-version: "22"
          check-latest: true

      - name: Cache Maven packages
        uses: actions/cache@v4
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2

      - name: Docker compose
        run: docker compose up -d

      - name: Sleeping
        run: sleep 45

      - name: Verify
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
          mvn -B verify org.sonarsource.scanner.maven:sonar-maven-plugin:sonar \
          -Dsonar.host.url="https://sonarcloud.io" \
          -Dsonar.organization=memoria-io \
          -Dsonar.projectKey=memoria-io_atom


#          -Dsonar.pullrequest.github.repository=${{ GITHUB_REPOSITORY }}
#          -Dsonar.pullrequest.branch=${{ GITHUB_HEAD_REF#refs/heads/ }}
#          -Dsonar.pullrequest.base=${{ GITHUB_BASE_REF#refs/heads/ }} \
#          -Dsonar.pullrequest.key=${{ github.event.number }}


